<div class="talkin-sidebar">
  <accordion close-others="false">
    <accordion-group ng-init="mainCtrl.channelsIsOpen = true" is-open="mainCtrl.channelsIsOpen">
      <accordion-heading>
        Channels<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mainCtrl.channelsIsOpen, 'glyphicon-chevron-right': !mainCtrl.channelsIsOpen}"></i>
      </accordion-heading>
      <tabset vertical="true" type="pills">
        <tab ng-repeat="channel in mainCtrl.channels"
          heading="{{ channel.name }}" active="channel.active" ng-click="mainCtrl.getMessages(channel.id)">
        </tab>
      </tabset>
      <div class="talkin-accordion-additem">
        <i class="pull-left glyphicon glyphicon-plus"></i>
        <span popover-placement="right" popover-template="'/scripts/partial/channelOps.html'" class="margin-left">Add a channel</span>
      </div>
    </accordion-group>

    <accordion-group ng-init="mainCtrl.privateIsOpen = true" is-open="mainCtrl.privateIsOpen">
      <accordion-heading>
        Online Users<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mainCtrl.privateIsOpen, 'glyphicon-chevron-right': !mainCtrl.privateIsOpen}"></i>
      </accordion-heading>
      <ul class="onlineuser-list">
        <li class="clearfix" ng-repeat="user in mainCtrl.users track by $index">
          <a href="#">
          <div class="onlineuser-list-avatar">
            <img ng-src="/images/avatar_{{ user.avatar_id }}.jpg" height="50" width="50">
          </div>
          <h5 tooltip="User id: {{ user.id }}" class="onlineuser-list-name">{{ user.name }}</h5>
          </a>
        </li>
      </ul>
      <!-- <div class="talkin-accordion-additem">
        <i class="pull-left glyphicon glyphicon-plus"></i>
        <span popover-placement="right" popover="add channel" class="margin-left">Say to someone</span>
      </div> -->
    </accordion-group>
  <accordion>

  <!-- User card START -->
  <div class="talkin-bottom-controls">
    <div class="talkin-usercard">
      <a tooltip="Go to change a name" ui-sref="login()">
        <div class="usercard-avatar">
          <img ng-src="/images/avatar_{{ mainCtrl.user.avatar_id || 0 }}.jpg" height="60" width="60" alt="Your avatar">
        </div>
        <div class="usercard-desc">
          <h4 class="usercard-name">{{ mainCtrl.user.name }}</h4>
        </div>
      </a>
    </div>
    <div class="message-input-box">
      <div at-box items="mainCtrl.users" message="mainCtrl.message" send="mainCtrl.sendMessage()">       
      </div>
    </div>
  </div>
  <!-- User card END -->
</div>

<!-- Message flow START -->
<div class="talkin-message-panel">
  <div class="message-flow">
    <ul class="message-flow-list">
      <li class="message-flow-list-item" ng-repeat="message in mainCtrl.messages track by $index">
        <div class="message-item-avatar">
          <img ng-src="/images/avatar_{{ message.avatar_id }}.jpg" height="60" width="60" alt="User avatar">
        </div>
        <div class="message-item-container">
          <div>
            <b class="message-item-name">{{ message.user_name }}</b>
            <span class="message-item-date">{{ message.time | date }}</span>
            <i tooltip="Remove" tooltip-placement="bottom" ng-if="message.user_id == $parent.mainCtrl.user.id" ng-click="mainCtrl.removeMessage(message.channel_id, message.id)" 
            class="message-item-remove glyphicon glyphicon-remove"></i>
            <p class="message-item-content">{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Message flow END -->

<div ng-show="mainCtrl.notifications.length" class="talkin-notify-box">
  <alert ng-repeat="alert in mainCtrl.notifications" type="success" close="notified($index)">{{ alert.user_name }} has just mentioned you in {{ alert.channel_name }}</alert>
</div>

