<div class="talkin-sidebar">
  <accordion close-others="false">
    <accordion-group ng-init="mainCtrl.channelsIsOpen = true" is-open="mainCtrl.channelsIsOpen">
      <accordion-heading>
        Channels<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mainCtrl.channelsIsOpen, 'glyphicon-chevron-right': !mainCtrl.channelsIsOpen}"></i>
      </accordion-heading>
      <tabset vertical="true" type="pills">
        <tab ng-repeat="channel in mainCtrl.channels"
          heading="{{ channel.name }}" active="channel.active">
        </tab>
      </tabset>
      <div class="talkin-accordion-additem">
        <i class="pull-left glyphicon glyphicon-plus"></i>
        <span popover-placement="right" popover-template="'/scripts/partial/channelOps.html'" class="margin-left">Add a channel</span>
      </div>
    </accordion-group>

    <accordion-group ng-init="mainCtrl.privateIsOpen = true" is-open="mainCtrl.privateIsOpen">
      <accordion-heading>
        Private Messages<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mainCtrl.privateIsOpen, 'glyphicon-chevron-right': !mainCtrl.privateIsOpen}"></i>
      </accordion-heading>
      <tabset vertical="true" type="pills">
        <tab ng-repeat="whisperer in mainCtrl.whisperers track by $index"
        heading="{{ whisperer.name }}" active="whisperer.active"></tab>
      </tabset>
      <div class="talkin-accordion-additem">
        <i class="pull-left glyphicon glyphicon-plus"></i>
        <span popover-placement="right" popover="add channel" class="margin-left">Say to someone</span>
      </div>
    </accordion-group>
  <accordion>

  <div class="talkin-bottom-controls">
    <div class="talkin-usercard">
      <div class="usercard-avatar">
        <img src="/images/yeoman.png" height="80" width="80" alt="Your avatar">
      </div>
      <div class="usercard-desc">
        <h4 class="usercard-name">{{ mainCtrl.user.name }}</h4>
      </div>
    </div>
    <div class="message-input-box">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="I wanna say..." ng-model="mainCtrl.message">
        <span class="input-group-btn">
          <button ng-click="mainCtrl.sendMessage()" class="btn btn-primary" type="button">SEND</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="talkin-message-panel">
  <div class="message-flow">
    <ul class="message-flow-list">
      <li class="message-flow-list-item" ng-repeat="message in mainCtrl.messages track by $index">
        <div class="message-item-avatar">
          <img src="/images/yeoman.png" height="60" width="60" alt="User avater">
        </div>
        <div class="message-item-content">
          <div>
            <span>Name</span><span>10:30 PM</span>
            <p>{{ message }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

